
body{
background-color: #7F0000;
}
.container {
  width: 800px;
  border: 3px solid #000000;
  padding: 20px;
  margin: 0 auto 0 auto;
}

header
{
  background-color: #FF4C4C;


}
h1, h2 {

  font-family: 'Barrio', cursive;}
/* for main nav */

ul {
  padding-left: 0;
  margin-left: 0;
  background-color: #036;
  color: White;
  float: left;
  width: 100%;
  font-family: arial, helvetica, sans-serif;
}

li {
  display: inline;

}

ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
background-color: #003366;
color: #ffffff;
text-decoration: none;
float: left;
border-right: 1px solid #ffffff;
}

a:hover {
  background-color: #336699;
color: #ffffff
}


.red-box {
  width: 50%;
  /*height: 200px;*/
  background-color: #FCFCFE;
  /*padding: 10px;*/
  float: left;
}
.blue-box{
  width: 50%;
  /*height: 200px;*/
  background-color: #FCFCFE;
  /*padding: 10px;*/
  /*margin: 10px 0 0 0;*/
  float: right;
}

footer {
  clear: both;
  border-top :1px solid #000000;
}
